.popup__conteiner_type_image {
    max-width: 75vw;
    width: fit-content;
    background-color: transparent;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}